/*--------------Body--------------------------*/
body{
	background: url(imagens/capa.png),
				url(imagens/ruido.png) ,
				linear-gradient(50deg, #ff4168, #7c26f8);
	background-attachment: fixed; 
	font-family: Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

html, body, .capa{
	height: 100%;
	overflow: auto;
}
/*--------------Capa--------------------------*/
.capa{
	display: table;
	width: 100%;

}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/*-----------botoes--------*/
.btn-custom{
	background: purple;
	border-radius: 500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	color: white;
	margin: 0px 15px;
	text-transform: uppercase;
	padding: 10px 35px;
}
.btn-roxo{
	background: #7c25f8;
	
}
.btn-branco{
	background: transparent;
	border: 1px solid white;
}
.btn-roxo:hover{
	background-color: #6207e3;
	color:white;
	
}
.btn-branco:hover{
	background: white;
	color:black;
}

/*----------- Secao----------------------*/
#secao{
	background: white;
	width: 100%;
	padding-top:20px;
	padding-bottom: 20px; 
}
.albuns{
	padding:10px 0px 10px 0px; 
}
/*----------- Secao 2----------------------*/
#secao2{
	background: url(imagens/capa.png),
				url(imagens/ruido.png) ,
				linear-gradient(50deg, #ff4168, #7c26f8);
	background-attachment: fixed; 
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding-top:20px;
	padding-bottom: 20px;
	color: white;
}
.rotacionar{
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	padding-left: 80px; 
	
}
/*-------------Footer--------------------*/
#footer2{
	background: black;
	padding: 50px 0px 20px 0px;
	position: relative;
}
.rede-social{
	float: right;
}

/*------------------barra de navegação--------------*/
.logo{
	height: 40px;
	width: 132px;
	background: url(imagens/spotify.svg) no-repeat;
	display: block;
	background-size: contain;
	color:transparent;
}
nav.navbar-transparent{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border:none;
}
.navbar-brand{
	padding:5px 15px; 
}
.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;

}
/* a tag maior ">" Seleciona o link que é filho do li*/
.navbar-inverse .navbar-nav>li>a, footer2 .nav a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer2 .nav a:hover{
	color: #9bf0e1;
	background: none;
}
/*-------formatação de textos------------*/
h1{
	font-size: 100px;
	font-weight: 900px;
	letter-spacing: -0.05em; 
	margin-bottom: 50px;
}
/*-----------media queries--------*/
/*sm*/
@media screen and (max-width: 767px){
	h1{
		font-size: 50px;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}
/*sm*/
@media screen and (min-width: 768px){
	h1{
		font-size: 70px;
	}
}

h2{
	font-size: 50px;
	font-weight: 70px;
	letter-spacing: -0.04em; 
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	font-size: 35px;
	font-weight: 70px;
	letter-spacing: -0.04em; 
	font-family: Arial, Helvetica, sans-serif;
}
#secao h2, h3{
	color:#7c25f8;
}

#secao2 h3{
	color: #9bf0e1;

}
.espaco{
	padding-top: 30px;
}
#footer2 h4{
	color: gray;
	font-size: 12px;
	text-transform: uppercase;
}


